$warna-dasar: #fa8072;
h1 {
  color: $warna-dasar;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
  text-align: center;
}

// Built-in Modules: Color
// adjust-color()
// h1 {
//   color: adjust-color($color: $warna-dasar, $green: 100, $blue: 100, $red: -50);
// }

// adjust-hue()
// h1 {
//   // derajatnya positif ke atas
//   // derajatnya negatif ke bawah
//   color: adjust-hue($warna-dasar, -30deg);
//   color: adjust-hue($warna-dasar, 180deg);
// }

// complement()
// h1 {
//   color: complement($warna-dasar);
// }

// darken()
// h1 {
//   color: darken($warna-dasar, 20%);
// }

// lighten()
// h1 {
//   color: lighten($warna-dasar, 10%);
// }

// saturate()
// h1 {
//   color: saturate($warna-dasar, 10%);
// }

// desaturate()
// h1 {
//   // color: desaturate($warna-dasar, 50%);
//   color: desaturate($warna-dasar, 0%);
// }

// grayscale()
// h1 {
//   color: grayscale($warna-dasar);
// }

// mix()
// h1 {
//   color: mix($warna-dasar, blue, 80%);
// }

// fade-in()
// h1 {
//   // awalnya opacity-nya 0.2 ditambah 0.5 maka opacity-nya menjadi 0.7
//   color: fade-in(rgba(250, 128, 114, 0.2), 0.5);
// }

// fade-out()
h1 {
  // awalnya opacity-nya 1 dikurang 0.4 maka opacity-nya menjadi 0.6
  color: fade-out($warna-dasar, 0.4);
}
